body 
{
    color: #c76311;
    text-align:left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 auto;
    width: 80%;
}
#container
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(42, 18, 180, 0.548);
    width: 70%;
    padding: 1em;
    text-align: center;
    border: 4px solid rgba(27, 9, 126, 0.966);
    margin: 0 auto;
}
#container h1
{
    text-align: center;
    color: rgb(139, 23, 23);
    font-size: x-large;
}
#cabecera
{
    background: rgb(0,0,0);
    box-shadow: rgb(214, 230, 0);
    color: rgb(220, 140, 223);
    font-weight: bold;
    margin: 0;
    font-style: italic;
    padding: 00.5em;
}
figure
{
    margin: 0%;
}
section
{
    color: darkslateblue;
    text-align: center;
}
iframe
{
    padding: 3em;

}
p 
{
    color:black;
    text-align: center;
}